<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= foundProduct.name %> </title>
</head>
<body>
    <h1> <%= foundProduct.name %> </h1>
    <ul>
        <li><%= foundProduct.price %></li>
        <li><a href="/products?category=<%= foundProduct.category %>"><%= foundProduct.category %></a></li>
    </ul>
    <a href="/products/<%= foundProduct._id%>/edit ">Edit</a>
    <br>
    <a href="/products">All products</a>

    <form action="/products/<%=foundProduct._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>

</body>
</html>