<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= subreddit %> </title>
</head>

<body>
    <%= num %>
    <h2> Browsing the <%= name %> subreddit </h2>
    <h3> Subscribers: <%= subscribers %> </h3>
    <h3> Description: <%= description %> </h3>

    <!-- for each post  -->
    <% for( let post of posts ) { %>
        <article>
            <p> <%= post.title %> - by <%= post.author %>  </p>
            <!-- if there is an img -->
            <% if(post.img){ %> 
                <img src="<%= post.img %> " alt="" srcset="">
            <% } else { %> 
                <p> <strong>No image!</strong> </p>
            <% } %> 
        </article>
    <% } %>

</body>

</html>